.password-validator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-validator input {
  padding: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.password-validator input:focus {
  border-width: 3px;
  outline: none;
  border-color: #0077cc;
  box-shadow: 0 0 8px rgba(0, 119, 204, 0.8);
}

.password-validator ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.password-validator li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.password-validator li svg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.password-validator .valid {
  color: green;
}

.password-validator .invalid {
  color: red;
}

@media (min-width: 768px) {
  .password-validator {
    flex-direction: row;
  }

  .password-validator input {
    width: 200px;
    margin-right: 20px;
  }
}
